html {
  height: 100%;
  width: 100%;
}

h1, h2, p {
  text-align: center;
}

body {
  background-image:url("https://plus.unsplash.com/premium_photo-1667121481745-d4214ee3dc04?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.page-layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 30%;
  border-right: 3px solid black;
}

.main-content {
  width: 70%;
  
}

.Image1{
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}

.Image2{
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}

.Image3{
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}